/*
 * wpkgExpress : A web-based frontend to wpkg
 * Copyright 2009 Brian White
 *
 * This file is part of wpkgExpress.
 *
 * wpkgExpress is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * wpkgExpress is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with wpkgExpress.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

body { width: 100%; }
#content { margin-top: 100px; text-align: center; margin-left: auto; margin-right: auto; width: 450px; }

form { text-align: left; }
fieldset { width: 100%; }

div.input { float: left !important; float: none; clear: left; border: 0; }
div.input label { float: left; width: 170px; text-align: left; margin-left: 7px; margin-bottom: 10px; }
div.input input { border: 1px solid #D2D2D2; background-color: #FFFFFF; }
div.input input:focus { color: #444444; border: 1px solid #999999; }

div.submit { text-align: left; margin-right: auto; margin-left: 5px; margin-bottom: 10px; }
div.submit input { background-color: #d3d3d3; border: 1px solid #000000; }

hr { clear: both;  margin-left: 5px; margin-right: 5px; }

ul.criticalerrors { margin-left: 0px; margin-top: 0px !important; margin-top: 5px; }
ul.criticalerrors li {
	list-style: none outside none;
	background: url(../img/error.png) no-repeat center left;
	color: red;
	font-weight: bold;
	margin-left: 0px;
	padding-left: 23px;
}

#thanks { text-align: center; margin-left: auto; margin-right: auto; font-weight: bold; font-size: 14pt; }